<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<integer>3</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>5</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>6</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>6.3</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>6.6</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>7.5</real>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
			<dict>
				<key>time</key>
				<real>0.6</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<real>7.8</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>8.5</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>8.800000000000001</real>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
			<dict>
				<key>time</key>
				<real>0.6</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>9</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>boss</key>
		<true/>
		<key>time</key>
		<integer>40</integer>
		<key>name</key>
		<string>date</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<integer>1</integer>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
