<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<integer>3</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<integer>5</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>6</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>6.3</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>6.6</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>8</real>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<real>8.300000000000001</real>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<real>8.800000000000001</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>9.4</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<integer>10</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<integer>13</integer>
		<key>name</key>
		<string>rikishi</string>
		<key>params</key>
		<dict>
			<key>stopPos</key>
			<integer>200</integer>
			<key>moveTime</key>
			<integer>18</integer>
		</dict>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<integer>3</integer>
				<key>name</key>
				<string>shiko</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>12</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>18</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>18.3</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>19.5</real>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>22</integer>
		<key>name</key>
		<string>rikishi</string>
		<key>params</key>
		<dict>
			<key>stopPos</key>
			<integer>200</integer>
			<key>moveTime</key>
			<integer>28</integer>
		</dict>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<integer>3</integer>
				<key>name</key>
				<string>shiko</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>params</key>
		<dict>
			<key>difficulty</key>
			<string>normal</string>
		</dict>
		<key>boss</key>
		<true/>
		<key>time</key>
		<integer>35</integer>
		<key>name</key>
		<string>date</string>
		<key>events</key>
		<array/>
	</dict>
</array>
</plist>
