<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<integer>3</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>5</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>6</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>6.3</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>6.6</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<integer>8</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
			<dict>
				<key>time</key>
				<real>0.6</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<real>8.6</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>8.9</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>9.5</real>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
			<dict>
				<key>time</key>
				<real>0.6</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>11</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>11.3</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<integer>12</integer>
		<key>name</key>
		<string>rikishi</string>
		<key>params</key>
		<dict>
			<key>stopPos</key>
			<integer>200</integer>
			<key>moveTime</key>
			<integer>16</integer>
		</dict>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<integer>2</integer>
				<key>name</key>
				<string>shiko</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>14</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<integer>16</integer>
		<key>name</key>
		<string>ninja</string>
		<key>events</key>
		<array>
			<dict>
				<key>time</key>
				<real>0.5</real>
				<key>name</key>
				<string>shuriken</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<integer>17</integer>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>time</key>
		<real>17.5</real>
		<key>name</key>
		<string>kakashi</string>
		<key>events</key>
		<dict/>
	</dict>
	<dict>
		<key>params</key>
		<dict>
			<key>difficulty</key>
			<string>hard</string>
		</dict>
		<key>boss</key>
		<true/>
		<key>time</key>
		<integer>22</integer>
		<key>name</key>
		<string>date</string>
		<key>events</key>
		<array/>
	</dict>
</array>
</plist>
