<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>ganko</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4852,0.4762 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -11.130,-0.190 }</string>	
								<string>{ -7.130,-5.190 }</string>	
								<string>{ 9.870,-5.190 }</string>	
								<string>{ 9.870,4.810 }</string>	
								<string>{ -6.130,4.810 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>shiko</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,21.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 60.000,0.000 }</string>	
								<string>{ 60.000,21.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>rikisi</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 16.000,9.000 }</string>	
								<string>{ 29.000,11.000 }</string>	
								<string>{ 36.000,28.000 }</string>	
								<string>{ 22.000,15.000 }</string>
							</array>
							<array>	
								<string>{ 41.000,12.000 }</string>	
								<string>{ 59.000,12.000 }</string>	
								<string>{ 68.000,41.000 }</string>	
								<string>{ 72.000,58.000 }</string>	
								<string>{ 68.000,62.000 }</string>	
								<string>{ 52.000,61.000 }</string>	
								<string>{ 38.000,43.000 }</string>	
								<string>{ 36.000,28.000 }</string>
							</array>
							<array>	
								<string>{ 22.000,15.000 }</string>	
								<string>{ 36.000,28.000 }</string>	
								<string>{ 38.000,43.000 }</string>	
								<string>{ 24.000,34.000 }</string>
							</array>
							<array>	
								<string>{ 75.000,38.000 }</string>	
								<string>{ 72.000,58.000 }</string>	
								<string>{ 68.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 68.000,14.000 }</string>	
								<string>{ 68.000,41.000 }</string>	
								<string>{ 59.000,12.000 }</string>
							</array>
							<array>	
								<string>{ 7.000,42.000 }</string>	
								<string>{ 8.000,37.000 }</string>	
								<string>{ 38.000,43.000 }</string>	
								<string>{ 23.000,47.000 }</string>
							</array>
							<array>	
								<string>{ 23.000,47.000 }</string>	
								<string>{ 38.000,43.000 }</string>	
								<string>{ 52.000,61.000 }</string>	
								<string>{ 47.000,65.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>rikisi_leg</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 82.000,9.000 }</string>	
								<string>{ 76.000,20.000 }</string>	
								<string>{ 67.000,25.000 }</string>	
								<string>{ 71.000,10.000 }</string>
							</array>
							<array>	
								<string>{ 57.000,42.000 }</string>	
								<string>{ 58.000,32.000 }</string>	
								<string>{ 67.000,25.000 }</string>	
								<string>{ 76.000,20.000 }</string>	
								<string>{ 76.000,38.000 }</string>	
								<string>{ 71.000,43.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>ninja2</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 62.000,90.000 }</string>	
								<string>{ 55.000,91.000 }</string>	
								<string>{ 52.000,86.000 }</string>	
								<string>{ 57.000,85.000 }</string>
							</array>
							<array>	
								<string>{ 41.000,73.000 }</string>	
								<string>{ 43.000,63.000 }</string>	
								<string>{ 59.000,69.000 }</string>	
								<string>{ 52.000,77.000 }</string>
							</array>
							<array>	
								<string>{ 59.000,69.000 }</string>	
								<string>{ 59.000,83.000 }</string>	
								<string>{ 57.000,85.000 }</string>	
								<string>{ 52.000,86.000 }</string>	
								<string>{ 52.000,77.000 }</string>
							</array>
							<array>	
								<string>{ 15.000,82.000 }</string>	
								<string>{ 52.000,86.000 }</string>	
								<string>{ 55.000,91.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>ninja1</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 6.000,66.000 }</string>	
								<string>{ 7.000,59.000 }</string>	
								<string>{ 9.000,57.000 }</string>	
								<string>{ 12.000,61.000 }</string>	
								<string>{ 10.000,66.000 }</string>
							</array>
							<array>	
								<string>{ 9.000,57.000 }</string>	
								<string>{ 16.000,55.000 }</string>	
								<string>{ 27.000,55.000 }</string>	
								<string>{ 20.000,62.000 }</string>	
								<string>{ 12.000,61.000 }</string>
							</array>
							<array>	
								<string>{ 20.000,62.000 }</string>	
								<string>{ 27.000,55.000 }</string>	
								<string>{ 31.000,57.000 }</string>	
								<string>{ 31.000,69.000 }</string>	
								<string>{ 24.000,66.000 }</string>
							</array>
							<array>	
								<string>{ 74.000,9.000 }</string>	
								<string>{ 81.000,10.000 }</string>	
								<string>{ 81.000,13.000 }</string>	
								<string>{ 76.000,17.000 }</string>	
								<string>{ 72.000,13.000 }</string>
							</array>
							<array>	
								<string>{ 51.000,69.000 }</string>	
								<string>{ 47.000,73.000 }</string>	
								<string>{ 41.000,75.000 }</string>	
								<string>{ 31.000,69.000 }</string>	
								<string>{ 49.000,63.000 }</string>	
								<string>{ 51.000,63.000 }</string>
							</array>
							<array>	
								<string>{ 15.000,14.000 }</string>	
								<string>{ 13.000,10.000 }</string>	
								<string>{ 27.000,11.000 }</string>	
								<string>{ 20.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 27.000,11.000 }</string>	
								<string>{ 26.000,26.000 }</string>	
								<string>{ 19.000,23.000 }</string>	
								<string>{ 20.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 19.000,23.000 }</string>	
								<string>{ 26.000,26.000 }</string>	
								<string>{ 28.000,31.000 }</string>	
								<string>{ 32.000,48.000 }</string>	
								<string>{ 22.000,44.000 }</string>	
								<string>{ 16.000,38.000 }</string>	
								<string>{ 15.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 47.000,75.000 }</string>	
								<string>{ 41.000,75.000 }</string>	
								<string>{ 47.000,73.000 }</string>
							</array>
							<array>	
								<string>{ 64.000,38.000 }</string>	
								<string>{ 58.000,41.000 }</string>	
								<string>{ 52.000,26.000 }</string>	
								<string>{ 60.000,23.000 }</string>	
								<string>{ 67.000,29.000 }</string>
							</array>
							<array>	
								<string>{ 72.000,13.000 }</string>	
								<string>{ 76.000,17.000 }</string>	
								<string>{ 76.000,19.000 }</string>	
								<string>{ 71.000,23.000 }</string>	
								<string>{ 65.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 57.000,43.000 }</string>	
								<string>{ 53.000,44.000 }</string>	
								<string>{ 52.000,26.000 }</string>	
								<string>{ 58.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 63.000,19.000 }</string>	
								<string>{ 65.000,19.000 }</string>	
								<string>{ 71.000,23.000 }</string>	
								<string>{ 67.000,29.000 }</string>	
								<string>{ 60.000,23.000 }</string>
							</array>
							<array>	
								<string>{ 69.000,28.000 }</string>	
								<string>{ 67.000,29.000 }</string>	
								<string>{ 71.000,23.000 }</string>
							</array>
							<array>	
								<string>{ 53.000,44.000 }</string>	
								<string>{ 49.000,48.000 }</string>	
								<string>{ 51.000,28.000 }</string>	
								<string>{ 52.000,26.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,82.000 }</string>	
								<string>{ 31.000,81.000 }</string>	
								<string>{ 39.000,82.000 }</string>
							</array>
							<array>	
								<string>{ 39.000,82.000 }</string>	
								<string>{ 31.000,81.000 }</string>	
								<string>{ 31.000,69.000 }</string>	
								<string>{ 41.000,75.000 }</string>
							</array>
							<array>	
								<string>{ 47.000,29.000 }</string>	
								<string>{ 51.000,28.000 }</string>	
								<string>{ 49.000,48.000 }</string>	
								<string>{ 39.000,35.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,57.000 }</string>	
								<string>{ 33.000,50.000 }</string>	
								<string>{ 49.000,63.000 }</string>	
								<string>{ 31.000,69.000 }</string>
							</array>
							<array>	
								<string>{ 49.000,48.000 }</string>	
								<string>{ 49.000,63.000 }</string>	
								<string>{ 33.000,34.000 }</string>	
								<string>{ 39.000,35.000 }</string>
							</array>
							<array>	
								<string>{ 33.000,34.000 }</string>	
								<string>{ 49.000,63.000 }</string>	
								<string>{ 33.000,50.000 }</string>	
								<string>{ 32.000,48.000 }</string>	
								<string>{ 28.000,31.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

